* {
    outline: none;
    //border: 1px red solid;
}

:root {
    background: black;
    color: white;
    font-family: 'Arial';
}

body {
    background-color: transparent;
}

header {
    color: white;
    padding: 4px;
    font-size: 2rem;
    .game_buttons {
        text-align: right;
        button {
            border-radius: 100%;
            height: 75px;
            width: 75px;
            margin: 0 0 0 .5rem;
            padding: 0;
            vertical-align: top;
            border: none;
        }
    }
}

section {
    padding: 0 20px;
}

.board {
    box-sizing: content-box;
    background: green;
    width: 100%;
    max-width: 500px;
    border: 3px double white;
    margin: auto;
    padding: 0;
    &:before {
        box-shadow: inset 0 0 41px 6px rgba(0, 0, 0, 0.75);
        content: '';
        position: absolute;
        left: 18px;
        right: 0;
        width: 96%;
        height: 99%;
    }
    .quadrant {
        //border: 1px solid grey;
        box-sizing: border-box;
        width: 2%;
        height: 2%;
        float: left;
        margin: 0;
        padding: 0;
        //background: url(../../src/images/grass.gif);
        background-size: cover;
    }
    .snake {
        background: orange;
        border-radius: 100%;
    }
    .fruit {
        background: red;
        border-radius: 100%;
    }
}

#legend {
    .game_controller {
        padding: 2rem;
        button {
            background: white;
            border-radius: 10px;
            .fa {
                font-size: 2rem;
            }
        }
        .pressed {
            border-style: inset;
            background: #D9534F;
            color: white;
        }
    }
}

@media screen and (min-width: 768px) {
    .game_buttons {
        button {
            width: 100%;
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 1rem;
        .game_buttons {
            button {
                height: 40px;
                width: 40px;
                border-radius: 100%;
            }
        }
    }
    .game_controller {
        button {
            height: 5rem;
        }
    }
}
