* {
    outline: none;
    //border: 1px red solid;
}

@my-font: 'Seymour One', sans-serif;

:root {
    background-color: #38566F;
    box-shadow: inset 0 -52px 500px 4px black;
    color: white;
    font-family: @my-font;
}

body {
    background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 10px,
      rgba(0, 0, 0, 0.3) 10px,
      rgba(0, 0, 0, 0.3) 20px
    ),
    url(http://s3-us-west-2.amazonaws.com/s.cdpn.io/3/old_map_@2X.png);
    max-width: 600px;
    box-shadow: 0 0 43px 17px black;
    border-left: 10px solid rgba(0, 128, 0, 0.2);
    border-right: 10px solid rgba(0, 128, 0, 0.2);
}

header {
    color: white;
    padding: 15px 25px;
    font-family: @my-font;
    text-shadow: 0 0.3px 0.5px black;
    .title {
        font-size: 2rem;
    }
    .game_buttons {
        text-align: right;
        button {
            font-size: 1rem;
            border-radius: 100%;
            height: 75px;
            width: 75px;
            margin: 0 0 0 .5rem;
            padding: 0;
            vertical-align: top;
            border: none;
            text-shadow: 0 0.3px 0.5px black;
            &::first-letter { 
                text-decoration: underline;
            }
        }
    }
}

section {
    padding: 0 20px;
}

.rotate(vertical;
@degrees) {
    &.flip {
        -moz-transform: scaleX(-1) rotate(@degrees);
        -o-transform: scaleX(-1) rotate(@degrees);
        -webkit-transform: scaleX(-1) rotate(@degrees);
        transform: scaleX(-1) rotate(@degrees);
        filter: flipV;
        -ms-filter: "FlipV";
    }
}

.rotate(horizontal;
@degrees) {
    &.flip {
        -moz-transform: scaleY(-1) rotate(@degrees);
        -o-transform: scaleY(-1) rotate(@degrees);
        -webkit-transform: scaleY(-1) rotate(@degrees);
        transform: scaleY(-1) rotate(@degrees);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.rotate(@_;
@degrees) {
    -o-transform: rotate(@degrees);
    -ms-transform: rotate(@degrees);
    /* IE 9 */
    -webkit-transform: rotate(@degrees);
    /* Chrome, Safari, Opera */
    transform: rotate(@degrees);
}

.flipV {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.flipH {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.direction {
    &.right {
        .rotate(horizontal;
        90deg);
    }

    &.down {
        .rotate(vertical;
        180deg);
    }

    &.left {
        .rotate(horizontal;
        -90deg);
    }

    &.up {
        .rotate(vertical;
        0deg);
    }
}

.board {
    box-sizing: content-box;
   background: linear-gradient(
     to bottom,
     #5d9634,
     #5d9634 50%,
     #538c2b 50%,
     #538c2b
   );
   background-size: 100% 20px;
    width: 100%;
    max-width: 500px;
    border: 3px double white;
    margin: auto;
    padding: 0;
    /*:before {
        box-shadow: inset 0 0 41px 6px rgba(0, 0, 0, 0.75);
        content: '';
        position: absolute;
        left: 18px;
        right: 0;
        width: 96%;
        height: 99%;
    }*/
    .quadrant {
        //border: 1px solid grey;
        box-sizing: border-box;
        width: 4%;
        height: 4%;
        float: left;
        margin: 0;
        padding: 0;
        //background: url(../../src/images/grass.gif);
        background-size: cover;
    }
    .snake {
        background: orange;
        //border-radius: 100%;
        background-size: cover!important;
        
        &.snake-body-1 {
            background: url('../images/snake-graphics_head-2.png');
            .direction;
        }
        &.snake-body-main {
            background: url('../images/snake-graphics_mid.png');
            .direction;
        }
        &.snake-tail {
            background: url('../images/snake-graphics_tail.png');
            .direction;
        }
        &.snake-corner {
            background: url('../images/snake-graphics_corner-1.png');
            &.left-corner {
                .rotate(x,
                0deg);
                &.flip {
                    .rotate(vertical;
                    -90deg);
                }
            }
            &.right-corner {
                .rotate(x,
                -90deg);
                &.flip {
                    .flipV;
                }
            }
            &.down-right-corner {
                .rotate(x,
                180deg);
                &.flip {
                    .rotate(vertical,
                    90deg);
                }
            }
            &.down-left-corner {
                .rotate(x,
                90deg);
                &.flip {
                    .flipH;
                }
            }
        }
        &.snake-head {
            background: url('../images/snake-graphics_head.png');
            .direction;
        }
        &.alternate-head {
            background: url('../images/snake-graphics-turning-head.png');
            &.flip {
                background: url('../images/snake-graphics-turning-head.png');
            }
        }
    }
    .fruit {
        background: red;
        border-radius: 100%;
    }
}

#legend {
    .game_controller {
        padding: 2rem;
        button {
            background: white;
            border-radius: 30px;
            height: 46px;
            .fa {
                font-size: 2rem;
            }
        }
        .pressed {
            border-style: inset;
            background: #D9534F;
            color: white;
        }
        #left,
        #right,
        #up,
        #down {
            &:active {
                .pressed;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .game_buttons {
        button {
            width: 100%;
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        font-size: 1rem;
        .game_buttons {
            button {
                height: 40px;
                width: 40px;
                border-radius: 100%;
            }
        }
    }
    .game_controller {
        button {
            height: 5rem;
        }
    }
}

.hidden,
.ui-loader {
    display: none;
}
