* {
  outline: none;
}
:root {
  background: black;
  color: white;
  font-family: 'Arial';
}
body {
  background-color: transparent;
}
header {
  color: white;
  padding: 4px;
  font-size: 2rem;
}
header .game_buttons {
  text-align: right;
}
header .game_buttons button {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  margin: 0 0 0 .5rem;
  padding: 0;
  vertical-align: top;
  border: none;
}
section {
  padding: 0 20px;
}
.right {
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}
.right.flip {
  -moz-transform: scaleY(-1) rotate(90deg);
  -o-transform: scaleY(-1) rotate(90deg);
  -webkit-transform: scaleY(-1) rotate(90deg);
  transform: scaleY(-1) rotate(90deg);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.down {
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.down.flip {
  -moz-transform: scaleX(-1) rotate(180deg);
  -o-transform: scaleX(-1) rotate(180deg);
  -webkit-transform: scaleX(-1) rotate(180deg);
  transform: scaleX(-1) rotate(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.left {
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.left.flip {
  -moz-transform: scaleY(-1) rotate(-90deg);
  -o-transform: scaleY(-1) rotate(-90deg);
  -webkit-transform: scaleY(-1) rotate(-90deg);
  transform: scaleY(-1) rotate(-90deg);
  filter: FlipV;
  -ms-filter: "FlipV";
}
.up {
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}
.up.flip {
  -moz-transform: scaleX(-1) rotate(0deg);
  -o-transform: scaleX(-1) rotate(0deg);
  -webkit-transform: scaleX(-1) rotate(0deg);
  transform: scaleX(-1) rotate(0deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.board {
  box-sizing: content-box;
  background: green;
  width: 100%;
  max-width: 500px;
  border: 3px double white;
  margin: auto;
  padding: 0;
  /*&:before {
        box-shadow: inset 0 0 41px 6px rgba(0, 0, 0, 0.75);
        content: '';
        position: absolute;
        left: 18px;
        right: 0;
        width: 96%;
        height: 99%;
    }*/
}
.board .quadrant {
  box-sizing: border-box;
  width: 4%;
  height: 4%;
  float: left;
  margin: 0;
  padding: 0;
  background-size: cover;
}
.board .snake {
  background: orange;
  background-size: cover!important;
}
.board .snake.snake-head {
  background: url('../images/snake-graphics_02.png');
}
.board .snake.snake-body-1 {
  background: url('../images/snake-graphics_04.png');
}
.board .snake.snake-body-main {
  background: url('../images/snake-graphics_07.png');
}
.board .snake.snake-tail {
  background: url('../images/snake-graphics_10.png');
}
.board .snake.snake-corner.main {
  background: url('../images/snake-graphics_05.png');
}
.board .snake.snake-corner.out {
  background: url('../images/snake-graphics_08.png');
}
.board .snake.snake-corner.tail {
  background: url('../images/snake-graphics_07.png');
}
.board .fruit {
  background: red;
  border-radius: 100%;
}
#legend .game_controller {
  padding: 2rem;
}
#legend .game_controller button {
  background: white;
  border-radius: 10px;
}
#legend .game_controller button .fa {
  font-size: 2rem;
}
#legend .game_controller .pressed {
  border-style: inset;
  background: #D9534F;
  color: white;
}
#legend .game_controller #left:active,
#legend .game_controller #right:active,
#legend .game_controller #up:active,
#legend .game_controller #down:active {
  border-style: inset;
  background: #D9534F;
  color: white;
}
@media screen and (min-width: 768px) {
  .game_buttons button {
    width: 100%;
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  header {
    font-size: 1rem;
  }
  header .game_buttons button {
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
  .game_controller button {
    height: 5rem;
  }
}
.hidden,
ui-loader {
  display: none;
}
