:root {
    background: black;
    color: white;
    font-family: 'Arial';
}

body {

    padding: 0 50px;
    background-color: transparent;
}

header {
    .title {
        text-align: center;
        color: white;
    }
}

.board {
    box-sizing: content-box;
    background: green;
    width: 500px;
    height: 500px;
    border: 3px double white;
    margin: auto;
    padding: 0;
    .quadrant {
        //border: 1px solid grey;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        float: left;
        margin: 0;
        padding: 0;
        background: url(../../src/images/grass.gif);
        background-size: cover;
    }
    .snake {
        background: orange;
        border-radius: 100%;
    }

    .fruit {
        background: red;
        border-radius: 100%;
    }
}

#legend {
    button {
        width: 100%;
        max-width: 300px;
        margin: 10px auto;
        outline: none;
    }
}
